<section class="container skills reveal-on-scroll" id="skills">
  <h2>Skills</h2>
  <div class="skill-list">
    <div class="skill">
      <div class="skill-head"><span>HTML & CSS</span><span>95%</span></div>
      <div class="bar"><div style="width: 95%"></div></div>
    </div>
    <div class="skill">
      <div class="skill-head"><span>JavaScript</span><span>85%</span></div>
      <div class="bar"><div style="width: 85%"></div></div>
    </div>
    <div class="skill">
      <div class="skill-head"><span>React</span><span>75%</span></div>
      <div class="bar"><div style="width: 75%"></div></div>
    </div>
    <div class="skill">
      <div class="skill-head"><span>UX / UI</span><span>80%</span></div>
      <div class="bar"><div style="width: 80%"></div></div>
    </div>
  </div>
</section>
